# Introdução ao Pandas

# Importando a Biblioteca Pandas

In [41]:
import pandas as pd

# Criando Series

In [42]:
# Criando uma Série formada por nomes de bandas e cantores famosos
artistas_1 = pd.Series(["Beatles", "Michael Jackson", "Rihanna", "Skank"])
artistas_1

0            Beatles
1    Michael Jackson
2            Rihanna
3              Skank
dtype: object

In [43]:
# Acessando um valor com índice de posição
artistas_1[0]

'Beatles'

In [44]:
# Criando uma Série formada por nomes de bandas e cantores famosos
# Especificando os índices para cada tipo: banda ou artista
artistas = pd.Series(["Beatles", "Michael Jackson", "Rihanna", "Skank"],
                     index=["banda", "artista", "artista", "banda"])
artistas

banda              Beatles
artista    Michael Jackson
artista            Rihanna
banda                Skank
dtype: object

In [45]:
# Como utilizamos índices não exclusivos, 
# para acessar os valores de todas as 'bandas' contida na série, 
# basta usar:
artistas['banda']

banda    Beatles
banda      Skank
dtype: object

# Criando Dataframes

In [46]:
# Construindo um dataframe a partir de uma lista de elementos
df = pd.DataFrame([["Coldplay", 29397183], ["Katy Perry", 17784767], ["Adele", 26296798]])
df

            0         1
0    Coldplay  29397183
1  Katy Perry  17784767
2       Adele  26296798

In [47]:
# Construindo um dataframe a partir de um dicionário
data = {'Artista': ["Coldplay", "Katy Perry", "Adele"], 'Followers': [29397183, 17784767, 26296798]}
df = pd.DataFrame(data)
df

      Artista  Followers
0    Coldplay   29397183
1  Katy Perry   17784767
2       Adele   26296798

# Manipulando Series e Dataframes

### Manipulando estruturas

In [48]:
# Removendo linhas de uma Serie
# Para remover, basta especificar o índice que deseja remover
# Seja o índice numérico ou textual
artistas_1.drop([3])

0            Beatles
1    Michael Jackson
2            Rihanna
dtype: object

In [49]:
# Adicionando nova coluna no dataframe
df['Numero de Atletas'] = [10, 20, 30]
df

      Artista  Followers  Numero de Atletas
0    Coldplay   29397183                 10
1  Katy Perry   17784767                 20
2       Adele   26296798                 30

In [50]:
# Renomeando n colunas do dataframe
df.columns = ['Medalhas', 'Pontuação', 'Nº Atletas']
df

     Medalhas  Pontuação  Nº Atletas
0    Coldplay   29397183          10
1  Katy Perry   17784767          20
2       Adele   26296798          30

In [51]:
# Concatenando séries
s1 = pd.Series(["Justin Timberlake", "Madona", "The Corrs"],
               index=["artista", "artista", "banda"])

artistas = artistas.append(s1)
artistas

banda                Beatles
artista      Michael Jackson
artista              Rihanna
banda                  Skank
artista    Justin Timberlake
artista               Madona
banda              The Corrs
dtype: object

In [52]:
# Concatenando dataframes
# Neste caso, o dataframe 'df1'será adicionado ao final do 'df'
# Logo, as colunas com dados ausentes ficam com o 'NaN'
df_copy = df

df1 = pd.DataFrame(
    {
        'Média de Idade': [22, 25, 28],
        'Média de Peso': [56, 58, 61]
    },
    index=[0, 1, 2])

# O parâmetro ignore_index=True faz a concatenação dando sequencia do índice do
# dataframe que sofre a concatenação (no caso, 3, 4 e 5)
df = df.append(df1, ignore_index=True)
df

     Medalhas   Pontuação  Nº Atletas  Média de Idade  Média de Peso
0    Coldplay  29397183.0        10.0             NaN            NaN
1  Katy Perry  17784767.0        20.0             NaN            NaN
2       Adele  26296798.0        30.0             NaN            NaN
3         NaN         NaN         NaN            22.0           56.0
4         NaN         NaN         NaN            25.0           58.0
5         NaN         NaN         NaN            28.0           61.0

In [53]:
# Uma opção para juntar varias colunas é utilizando o Merge
# Neste caso, utilizamos os índices de ambos dataframes
# para realizar tal junção
df_merge_col = pd.merge(df_copy, df1, left_index=True, right_index=True)

df_merge_col

     Medalhas  Pontuação  Nº Atletas  Média de Idade  Média de Peso
0    Coldplay   29397183          10              22             56
1  Katy Perry   17784767          20              25             58
2       Adele   26296798          30              28             61

### Informações sobre os objetos (series e dataframes)

In [54]:
# Numero de linhas da série 'artistas'
artistas.shape

(7,)

In [55]:
# Número de linhas e colunas do dataframe 'df'
df.shape

(6, 5)

In [56]:
# Índices da série 'artistas'
artistas.index

Index(['banda', 'artista', 'artista', 'banda', 'artista', 'artista', 'banda'], dtype='object')

In [57]:
# Índices do dataframe 'df'
df.index

RangeIndex(start=0, stop=6, step=1)

In [58]:
# Series não tem colunas, logo este comando nao funciona 

#artistas.columns

In [59]:
# Nomes das colunas do dataframe 'df'
df.columns

Index(['Medalhas', 'Pontuação', 'Nº Atletas', 'Média de Idade',
       'Média de Peso'],
      dtype='object')

In [60]:
# Tipo dos dados na série 'artistas'
artistas.dtypes

dtype('O')

In [61]:
# Tipos dos dados no dataframe 'df'
df.dtypes

Medalhas           object
Pontuação         float64
Nº Atletas        float64
Média de Idade    float64
Média de Peso     float64
dtype: object

### Resumo dos dados

In [62]:
# Exibindo os n (=2) primeiros elementos da série 'artistas'
artistas.head(2)

banda              Beatles
artista    Michael Jackson
dtype: object

In [63]:
# Exibindo os n (=2) primeiros elementos do dataframe 'df'
df.head(2)

     Medalhas   Pontuação  Nº Atletas  Média de Idade  Média de Peso
0    Coldplay  29397183.0        10.0             NaN            NaN
1  Katy Perry  17784767.0        20.0             NaN            NaN

In [64]:
# Exibindo os n (=2) últimos elementos da série 'artistas'
artistas.tail(2)

artista       Madona
banda      The Corrs
dtype: object

In [65]:
# Exibindo os n (=2) últimos elementos do dataframe 'df'
df.tail(2)

  Medalhas  Pontuação  Nº Atletas  Média de Idade  Média de Peso
4      NaN        NaN         NaN            25.0           58.0
5      NaN        NaN         NaN            28.0           61.0

In [66]:
# SOMA dos valores do índice 'banda' da série artistas
# Como nesta série não possuimos valores, a soma se dá pela
# concatenação de strings
artistas['banda'].sum()

'BeatlesSkankThe Corrs'

In [67]:
# SOMA dos valores da coluna 'Pontuação' do dataframe 'df'
df['Pontuação'].sum()

73478748.0

In [68]:
# Valor MÍNIMO da série 'artistas'
# Como é uma série de strings, o valor mínimo é o primeiro elemento
artistas.min()

'Beatles'

In [69]:
# Valores MÍNIMOS do dataframe 'df'
# Como não foi especificado nenhuma coluna, todas as colunas numéricas
# foram retornadas com seus respectivos valores mínimos
df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Pontuação         17784767.0
Nº Atletas              10.0
Média de Idade          22.0
Média de Peso           56.0
dtype: float64

In [70]:
# Valores MÁXIMOS da serie 'artistas'
# Como é uma série de strings, o valor máximo é o último elemento
artistas.max()

'The Corrs'

In [71]:
# Valores MÁXIMOS da coluna 'Pontuação' do dataframe 'df'
# se não especificarmos uma coluna, todas as colunas numéricas
# serão retornadas
df['Pontuação'].max()

29397183.0

In [81]:
# MÉDIA de valores da série 'artistas'
# como não possui valores numéricos, esta função não se aplica a esta série

#artistas.mean()

In [73]:
# MÉDIA de valores do dataframe 'df'
# Se quiser a média de uma única coluna, basta especificá-la
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Pontuação         2.449292e+07
Nº Atletas        2.000000e+01
Média de Idade    2.500000e+01
Média de Peso     5.833333e+01
dtype: float64

In [74]:
# MEDIANA dos valores da série 'artistas'
#como não possui valores numéricos, esta função não se aplica a esta série

#artistas.median()

In [75]:
# MEDIANA dos valores do dataframe 'df'
# Se quiser a mediana de uma única coluna, basta especificá-la
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Pontuação         26296798.0
Nº Atletas              20.0
Média de Idade          25.0
Média de Peso           58.0
dtype: float64

In [76]:
# CONTAGEM de elementos da série 'artistas'
artistas.count()

7

In [77]:
# CONTAGEM de elementos de cada coluna do dataframe 'df'
# Se quiser a contagem de uma única coluna, basta especificá-la
df.count()

Medalhas          3
Pontuação         3
Nº Atletas        3
Média de Idade    3
Média de Peso     3
dtype: int64

In [78]:
# Resumo dos dados da série 'artistas'
# Note que as informações retornadas variam de acordo com
# os dados disponíveis
artistas.describe()

count           7
unique          7
top       Beatles
freq            1
dtype: object

In [79]:
# Resumo dos dados d0 dataframe 'df'
# Note que as informações retornadas variam de acordo com
# os dados disponíveis
df.describe()

          Pontuação  Nº Atletas  Média de Idade  Média de Peso
count  3.000000e+00         3.0             3.0       3.000000
mean   2.449292e+07        20.0            25.0      58.333333
std    6.012699e+06        10.0             3.0       2.516611
min    1.778477e+07        10.0            22.0      56.000000
25%    2.204078e+07        15.0            23.5      57.000000
50%    2.629680e+07        20.0            25.0      58.000000
75%    2.784699e+07        25.0            26.5      59.500000
max    2.939718e+07        30.0            28.0      61.000000

## Conclusão

Este notebook introduziu a biblioteca pandas, apresentando como criar objetos do tipo series, como criar objetos do tipo dataframes e como manipular series e dataframes.

Este foi o fim desta parte do tutorial sobre Jupyter Básico. A próxima parte [3.Preparacao](https://drive.google.com/file/d/12fIRs1pKsI94gTt8drxU37uPB_p0NewH/view?usp=sharing) tratará da importação e preparação de dados externos para a ciência de dados.